<!-- wp:blocktheme/header /-->

<!-- wp:blocktheme/simple-page /-->

<!-- wp:blocktheme/faq {"color":"diensten"} -->
<!-- wp:blocktheme/text-block {"text":"Vragen? Bekijk onze FAQ of neem contact op","className":"text-block-29"} -->
<div class="wp-block-blocktheme-text-block text-block-29">Vragen? Bekijk onze FAQ of neem contact op</div>
<!-- /wp:blocktheme/text-block -->

<!-- wp:blocktheme/button {"text":"BEKIJK FAQ"} -->
<a href="http://linwenhao.local/faq/" class="wp-block-blocktheme-button button-17 w-button"> BEKIJK FAQ</a>
<!-- /wp:blocktheme/button -->

<!-- wp:blocktheme/button {"text":"CONTACT","position":"button-18"} -->
<a href="http://linwenhao.local/contact/" class="wp-block-blocktheme-button button-18 w-button"> CONTACT</a>
<!-- /wp:blocktheme/button -->
<!-- /wp:blocktheme/faq -->

<!-- wp:blocktheme/footer /-->