<!-- wp:blocktheme/header /-->

<!-- wp:blocktheme/faq-content -->
<!-- wp:blocktheme/faq-subtitle -->
<div class="wp-block-blocktheme-faq-subtitle algemeen"><h3 class="heading-20 algemeen">lorem ipsum</h3></div>
<!-- /wp:blocktheme/faq-subtitle -->

<!-- wp:blocktheme/faq-item -->
<div class="wp-block-blocktheme-faq-item kutup-faq-wrapper"><div class="kutup-faq-top-part _1"><div class="kutup-faq-title-content"><div class="kutup-faq-title">lorem ipsum</div></div><div class="kutup-faq-icon"><div class="kutup-faq-plus-icon"><div class="kutup-stripe-1"></div><div class="kutup-stripe-2"></div></div></div></div><div class="kutup-faq-item"><div class="kutup-faq-content"><p class="kutup-paragraph">Lorem ipsum dolor sit amet. Id quae voluptas cum facere galisum ut animi optio est soluta delectus et voluptatem repellat ab facere enim non veniam accusamus. Id voluptate deleniti aut esse omnis qui iure asperiores et iste quisquam qui minima rerum nam asperiores corporis. Et tenetur iste aut asperiores recusandae sit culpa expedita. Qui voluptatem voluptas sed quam animi ut cupiditate nulla et pariatur quam ut iure odio!</p></div></div></div>
<!-- /wp:blocktheme/faq-item -->

<!-- wp:blocktheme/faq-item -->
<div class="wp-block-blocktheme-faq-item kutup-faq-wrapper"><div class="kutup-faq-top-part _1"><div class="kutup-faq-title-content"><div class="kutup-faq-title">lorem ipsum</div></div><div class="kutup-faq-icon"><div class="kutup-faq-plus-icon"><div class="kutup-stripe-1"></div><div class="kutup-stripe-2"></div></div></div></div><div class="kutup-faq-item"><div class="kutup-faq-content"><p class="kutup-paragraph">Lorem ipsum dolor sit amet. Id quae voluptas cum facere galisum ut animi optio est soluta delectus et voluptatem repellat ab facere enim non veniam accusamus. Id voluptate deleniti aut esse omnis qui iure asperiores et iste quisquam qui minima rerum nam asperiores corporis. Et tenetur iste aut asperiores recusandae sit culpa expedita. Qui voluptatem voluptas sed quam animi ut cupiditate nulla et pariatur quam ut iure odio!</p></div></div></div>
<!-- /wp:blocktheme/faq-item -->
<!-- /wp:blocktheme/faq-content -->

<!-- wp:blocktheme/footer /-->